<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link
            href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
            rel="stylesheet"/>
</head>
<body>
<form action="/insert" method="post">
<table class="table">
    <tbody>
       <tr>
           <td>姓名</td>
           <td><input name="gradename"/></td>
       </tr>
    <tr>
        <td><button type="submit">提交</button></td>
    </tr>
    </tbody>
</table>
</form>
</body>
</html>